:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  background: var(--white);
}
.link {
  text-decoration: none;
}
.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}
.logo-header-blue {
  color: var(--iris);
}
.list {
  list-style: none;
}
.site-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.site-nav-address {
  font-style: normal;
}
.site-nav .link {
  font-weight: 500;
  color: var(--navy-blue);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--ocean);
}
.contacts .link {
  color: var(--slate);
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
}
.site-nav .contacts-link:hover,
.site-nav .contacts-link:focus {
  color: var(--ocean);
}
.hero {
  color: var(--white);
  background-color: var(--navy-blue);
  text-align: center;
}
.section-baner-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
}
.btn-baner {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);
}
.hero .btn-baner:hover,
.hero .btn-baner:focus {
  background: var(--ocean);
}
.advantages {
  color: var(--navy-blue);
}
.advantages-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}
.advantages-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.section-team {
  background: var(--cloud);
}
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.team-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
}
.section-footer {
  background: var(--navy-blue);
  font-weight: 400;
  font-size: 16px;
  list-style: none;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
.footer-logo-link {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--cloud);
}
.footer-logo-blue {
  color: var(--iris);
}
